$--active-color:blueviolet;
.tab-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tab-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.tab-nav-item{
    padding: 10px;
    border:  1px solid;
    width: fit-content;
    min-width: 100px;
}
.tab-nav-item.selected{
    border-color: $--active-color;
    background-color: $--active-color;
    color: #fff;
}