.auth-code-input-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .auth-code-input-container{
  .authCodeInput{
    width: 48px;
    height: 48px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    overflow: hidden;
    background:#eee;
    outline: none;
    margin: 5px;
    border:unset;
  }
    .authCodeInput:focus{
      outline: black solid 2px;
    }
    .authCodeInput::selection{
      background: black;
      color: white;
    }
  }
  .auth-code-button-container{
    button{
      margin: 10px;
    }
    .reset-button{
      padding: 5px 15px;
      font-size: 18px;
      font-weight: 400;
      color: black;
      background-color: white;
      outline: none;
      border:2px solid black;
      cursor: pointer;
    }
    .reset-button:disabled{
      opacity: .25;
      cursor: not-allowed;
    }
    .submit-button {
      padding: 5px 15px;
      font-size: 18px;
      font-weight: 400;
      color: white;
      outline: none;
      background-color: #000;
      border:2px solid black;
      cursor: pointer;
    }
    .submit-button:disabled{
      opacity: .25;
      cursor: not-allowed;
    }
  }
}
